In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df=pd.read_csv('/content/Red Wine.zip')

In [ ]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
df.shape

(1599, 12)

In [ ]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [ ]:
x=df.drop(columns='quality',axis=1)

In [ ]:
y=df['quality']

In [ ]:
print(x)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol
0         9.4
1         9.8
2         9.8
3         9.8
4         9.4
...       ...
1594     10.5
1595     11.2
1596     11.0
1597     10.2
1598     11.0

[1599 rows x 11 columns]

In [ ]:
print(y)

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2,stratify=y)
print(x.shape,x_train.shape,x_test.shape)

(1599, 11) (1279, 11) (320, 11)

In [ ]:
print(y.shape,y_train.shape,y_test.shape)

(1599,) (1279,) (320,)

In [ ]:
print(x_train,y_train)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
831             5.9              0.61         0.08             2.1      0.071
691             9.2              0.92         0.24             2.6      0.087
222             6.8              0.61         0.04             1.5      0.057
1559            7.8              0.60         0.26             2.0      0.080
1067           11.1              0.31         0.53             2.2      0.060
...             ...               ...          ...             ...        ...
431             7.8              0.55         0.35             2.2      0.074
955             8.5              0.21         0.52             1.9      0.090
871             6.9              0.56         0.03             1.5      0.086
838            10.1              0.31         0.35             1.6      0.075
281             7.7              0.27         0.68             3.5      0.358

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
831                  16.0                  24.0  0.99376  3.56       0.77
691                  12.0                  93.0  0.99980  3.48       0.54
222                   5.0                  10.0  0.99525  3.42       0.60
1559                 31.0                 131.0  0.99622  3.21       0.52
1067                  3.0                  10.0  0.99572  3.02       0.83
...                   ...                   ...      ...   ...        ...
431                  21.0                  66.0  0.99740  3.25       0.56
955                   9.0                  23.0  0.99648  3.36       0.67
871                  36.0                  46.0  0.99522  3.53       0.57
838                   9.0                  28.0  0.99672  3.24       0.83
281                   5.0                  10.0  0.99720  3.25       1.08

      alcohol
831      11.1
691       9.8
222       9.5
1559      9.9
1067     10.9
...       ...
431       9.2
955      10.4
871      10.6
838      11.2
281       9.9

[1279 rows x 11 columns] 831     6
691     5
222     5
1559    5
1067    7
       ..
431     5
955     5
871     5
838     7
281     7
Name: quality, Length: 1279, dtype: int64

In [ ]:
print(x_test,y_test)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1353            7.6             0.645         0.03             1.9      0.086
96              6.8             0.775         0.00             3.0      0.102
1567            7.2             0.695         0.13             2.0      0.076
136             8.3             0.715         0.15             1.8      0.089
1069            8.0             0.620         0.35             2.8      0.086
...             ...               ...          ...             ...        ...
954             7.6             0.430         0.40             2.7      0.082
1008            8.9             0.350         0.40             3.6      0.110
1541            7.4             0.250         0.29             2.2      0.054
1301            6.7             0.860         0.07             2.0      0.100
124             7.8             0.500         0.17             1.6      0.082

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1353                 14.0                  57.0  0.99690  3.37       0.46
96                    8.0                  23.0  0.99650  3.45       0.56
1567                 12.0                  20.0  0.99546  3.29       0.54
136                  10.0                  52.0  0.99680  3.23       0.77
1069                 28.0                  52.0  0.99700  3.31       0.62
...                   ...                   ...      ...   ...        ...
954                   6.0                  11.0  0.99538  3.44       0.54
1008                 12.0                  24.0  0.99549  3.23       0.70
1541                 19.0                  49.0  0.99666  3.40       0.76
1301                 20.0                  57.0  0.99598  3.60       0.74
124                  21.0                 102.0  0.99600  3.39       0.48

      alcohol
1353     10.3
96       10.7
1567     10.1
136       9.5
1069     10.8
...       ...
954      12.2
1008     12.0
1541     10.9
1301     11.7
124       9.5

[320 rows x 11 columns] 1353    5
96      5
1567    5
136     5
1069    5
       ..
954     6
1008    7
1541    7
1301    6
124     5
Name: quality, Length: 320, dtype: int64

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
x_train_prediction=model.predict(x_train)

In [ ]:
prediction=accuracy_score(x_train_prediction,y_train)

In [ ]:
print(prediction)

0.581704456606724

In [ ]:
x_test_prediction=model.predict(x_test)

In [ ]:
prediction=accuracy_score(x_test_prediction,y_test)

In [ ]:
print(prediction)

0.578125

In [ ]:
input_data=(7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4)
nparrays=np.asarray(input_data)
nparray_reshaped=nparrays.reshape([1,-1])
prediction_value=model.predict(nparray_reshaped)
print(prediction_value)

if (prediction_value[0]>7):
  print('Good quality')
else:
  print('bad quality')

[5]
bad quality

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(